/* ---------- SIDEBAR ---------- */

.sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #263043;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: fixed;
    width: 260px;
    z-index: 1;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }

  .user-info {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
  }

  .user-icon {
    background-color: #3498db; /* Cor de fundo do ícone do usuário */
    color: #fff; /* Cor do ícone do usuário */
  }
  
  .user-name {
    font-weight: bold; /* Deixa o nome do usuário em negrito para destacar */
    color: #fff; /* Cor do texto do nome do usuário */
  }

  #icon-item {
    display: inline-block;
    padding: 0px 5px 3px 5px;
  }
  
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
  }
  
  .sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #9e9ea4;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }

  #icon-item {
    cursor: pointer

  }

  .logout {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
  }

  .logout-name {
    padding: 0px 0px 0px 5px;
    vertical-align: text-bottom;
  }

  .typewriter {
    padding: 0px 0px 0px 6px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    display: inline-block;
    /* border-right: 2px solid #3498db; */
    animation: typing 2s steps(20) forwards;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }